logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.node_repl_history
.DS_Store
server/assets/*
.env
todo.txt
.idea
.vscode
client/dist
capsules/*/client/dist
capsules/*/dist
target
**/target
**/Cargo.lock.bak
.claude/
Hey.code-workspace
hey_ynh/
